{% extends "chat/base.html" %} {% block content %} {% block import %}

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
/>

{% endblock %}
<div class="container-login">
  <div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
  
      <div class="col-md-8 col-xl-6 chat">
        <div class="card">
          <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
              <div class="user_info" id="writing">
                <pid="writing"></p>
              
              </div>
            </div>
          </div>

          <div class="card-body msg_card_body">
            <div id="conversation-chat">
              {% for chat in chats %} {%if chat.user.username == request.user.username%}
              <div class="d-flex justify-content-end mb-4">
                <div class="img_cont_msg">
                  <img
                    src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                    class="rounded-circle user_img_msg"
                  />
                </div>
                <div class="msg_cotainer_send">{{chat.message}}</div>
              </div>
                {% else %}
                <div class="d-flex justify-content-start mb-4">
                  <div class="img_cont_msg">
                    <img
                      src="https://2.bp.blogspot.com/-8ytYF7cfPkQ/WkPe1-rtrcI/AAAAAAAAGqU/FGfTDVgkcIwmOTtjLka51vineFBExJuSACLcBGAs/s320/31.jpg"
                      class="rounded-circle user_img_msg"
                    />
                  </div>
                  <div class="msg_cotainer_send">{{chat.message}}</div>
                </div>
                  {% endif %}
        
               
                {% endfor%}
              </div>
           
            </div>
              <div class="card-footer">
                <div class="input-group">
                  <div class="input-group-append">
                    <input type="file" name="upload" class="input-group-text attach_btn" accept=".jpg, .jpeg, .png">
                   
                  </div>
                  <textarea
                    name=""
                    class="form-control type_msg"
                    placeholder="Type your message..."
                    id="input-text"
                  ></textarea>
                  <div class="input-group-append">
                    <button class="input-group-text send_btn" id="send-message">
                      <i class="fas fa-location-arrow"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{request.user.username|json_script:"user_username" }}
      {{chat_box_name|json_script:"room-name" }}

      <script>

        const user_username = JSON.parse(document.getElementById("user_username").textContent);
        const boxName = JSON.parse(
          document.getElementById("room-name").textContent
        );

        const chatSocket = new WebSocket(
          "ws://" + window.location.host + "/ws/chat/" + boxName + "/"
        );

        document.querySelector("#send-message").onclick = function (e) {
          const messageInputDom = document.querySelector("#input-text");
          const message = messageInputDom.value;
          if(message == '')
            return;
          chatSocket.send(
            JSON.stringify({
              type: 'MESSAGE',
              
              message: message,
              username: user_username,
              chat_box_name: boxName,
            })
          );
          messageInputDom.value = "";
        };

        ///////////////////////////////////////////////define on message received ///////////////////////////////////////////////
        chatSocket.onmessage = function (e) {
          const data = JSON.parse(e.data);
          //this case when a user is writing a message
          if(data.type=='WRITING'){
            if(data.username !==user_username){
                const writing = document.querySelector("#writing");
                writing.innerHTML = data.username + "...";
            }
            return;
          }

          if(data.type=='STOP_WRITING'){
            writing.innerHTML = '';
            return;
          }

          let to_insert_code = '';
          
          if(data.username == user_username)
              to_insert_code +=' <div class="d-flex justify-content-end mb-4"> <div class="msg_cotainer_send">';
          else
              to_insert_code +=' <div class="d-flex justify-content-start mb-4"> <div class="msg_cotainer_send">';
         
          to_insert_code += data.message;
          if(data.username == user_username)
              to_insert_code += '</div><div class="img_cont_msg"><img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg" /> </div></div>';
          else
              to_insert_code +='</div><div class="img_cont_msg"><img src="https://2.bp.blogspot.com/-8ytYF7cfPkQ/WkPe1-rtrcI/AAAAAAAAGqU/FGfTDVgkcIwmOTtjLka51vineFBExJuSACLcBGAs/s320/31.jpg" class="rounded-circle user_img_msg" /> </div></div>';
  
         
          
         
          const el = document.querySelector("#conversation-chat");
          var div = document.createElement('div');
          div.innerHTML = to_insert_code.trim();
          el.append(div.firstChild);
         
        };

        ////////////////////////////////define on change on text area //////////////////////////////////////////////////
        let textArea = document.querySelector("#input-text");
        textArea.addEventListener('keypress', checkcaret);
        function checkcaret() {
          chatSocket.send(
            JSON.stringify({
              type: 'WRITING',
              username: user_username,
            })
          );
        }
        textArea.onchange = function(e){
          chatSocket.send(
            JSON.stringify({
              type: 'STOP_WRITING',
            })
          );
        }
      </script>
    </div>
</div>
</div>
    {% endblock %}