{% extends "chat/base.html" %} {% block content %} {% block import %}

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
/>

{% endblock %}
<div class="container-login">
  <div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col-md-4 col-xl-3 chat">
        <div class="card mb-sm-3 mb-md-0 contacts_card">
          <div class="card-body contacts_body">
            <ui class="contacts">
              {% for room in joined_rooms %}
              <li>
                <div class="card" style="height: 8rem; margin-bottom: 1rem">
                  <div class="card-body">
                    <div class="d-flex bd-highlight">
                      <div class="img_cont">
                        <img
                          src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                          class="rounded-circle user_img"
                        />
                      </div>

                      <p style="color: white">{{room.name}}</p>
                      <a href="/aso-chat/chat/{{room.slug}}">
                        <button
                          type="button"
                          class="btn btn-primary"
                          style="
                            margin-right: 1rem;
                            margin-left: 1rem;
                            height: 3rem;
                          "
                        >
                          Enter
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ui>
          </div>

          <div class="card-footer">JOINED ROOM</div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3 chat">
        <div class="card mb-sm-3 mb-md-0 contacts_card">
          <div class="card-body contacts_body">
            <ui class="contacts">
              {% for room in pending_rooms %}

              <li>
                <div class="card" style="height: 8rem; margin-bottom: 1rem">
                  <div class="card-body">
                    <div class="d-flex bd-highlight">
                      <div class="img_cont">
                        <img
                          src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                          class="rounded-circle user_img"
                        />
                        <span class="online_icon"></span>
                      </div>

                      <p style="color: white">{{room.name}}</p>
                      <button
                        type="button"
                        class="btn btn-primary"
                        style="
                          margin-right: 1rem;
                          margin-left: 1rem;
                          height: 3rem;
                        "
                      >
                        Accept
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        style="height: 3rem"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </li>

              {% endfor %}
            </ui>
          </div>

          <div class="card-footer">PENDING ROOMS</div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3 chat">
        <div class="card mb-sm-3 mb-md-0 contacts_card">
          <div class="card-body contacts_body">
            <form method="post" action=".">
              {% csrf_token %}
              <input type="text" class="text" name="name" />
              <span>Name</span>

              <button
                type="submit"
                class="btn btn-primary"
                style="margin-top: 1rem; margin-left: 3rem"
              >
                Create
              </button>
            </form>
            {% if form.errors %} {% for field in form %} {% for error in field.errors %}
            <div>
              <p>{{field.name}} {{ error|escape}}</p>
            </div>
            {% endfor %} {% endfor %} {% endif %}
          </div>

          <div class="card-footer">CREATE NEW ROOM</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
